<%= form_for @dish, class: "form-create-dish" do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="col-md-4 col-md-offset-2">
    <div class="field-name">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "name", class: "form-control" %>
    </div>
    <div class="field-description">
      <%= f.label :description %>
      <%= f.text_area :description, placeholder: "description", class: "form-control" %>
    </div>
    <div class="field-price">
      <%= f.label :price %>
      <%= f.text_field :price, placeholder: "price", class: "form-control" %>
    </div>
    <div class="field-promotion">
      <%= f.label :promotion %>
      <%= f.text_field :promotion, placeholder: "promotion", class: "form-control" %>
    </div>
    <div class="field-category">
      <%= f.label :category_name %>
      <%= f.collection_select :category_id, Category.all, :id, :name, class: "form-control" %>
    </div>
    <div class="checkbox-status form-check">
      <%= f.check_box :is_display, class: "form-check-input" %>
      <%= f.label :is_display, value: "Display", class: "form-check-label" %>
    </div>

    <div class="select-image">
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", id: "select-img" %>
    </div>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
  <div class="col-md-4">
    <%= image_tag @dish.image, alt: @dish.name, class: "visible-false image-preview", id: "img-preview" %>
  </div>
<% end %>


<!--<script type="text/javascript">-->
<!--  $("#micropost_picture").bind("change", function() {-->
<!--    var size_in_megabytes = this.files[0].size/1024/1024;-->
<!--    if (size_in_megabytes > 5) {-->
<!--      alert("Maximum file size is 5MB. Please choose a smaller file.");-->
<!--    }-->
<!--  });-->
<!--</script>-->

<!--0.0.0.0 account.jetbrains.com-->
<!--0.0.0.0 www.jetbrains.com-->
<!--0.0.0.0 www-weighted.jetbrains.com-->
