<header>
  <div class="wrap-menu-header gradient1 trans-0-4">
    <div class="container h-full">
      <div class="wrap_header trans-0-3">
        <div class="logo">
          <a href="index.html">
<!--            <img src="logo.png" alt="IMG-LOGO" data-logofixed="logo2.png">-->
          </a>
        </div>
        <div class="wrap_menu p-l-45 p-l-0-xl">
          <nav class="menu">
            <ul class="main_menu">
              <li><%= link_to "Home",         root_path %></li>
              <li><%= link_to "Menu",         '#' %></li>
              <li><%= link_to "Reservation",  '#' %></li>
              <li><%= link_to "Gallery",      '#' %></li>
              <li><%= link_to "About",        about_path %></li>
              <li><%= link_to "Blog",         '#' %></li>
              <li><%= link_to "Contact",      contact_path %></li>
            </ul>
          </nav>
        </div>

        <div class="social flex-w flex-l-m p-r-20">
          <%= link_to content_tag(:i, nil, class: "fa fa-tripadvisor"), "#" %>
          <%= link_to content_tag(:i, nil, class: "fa fa-facebook m-l-21"), '#' %>
          <%= link_to content_tag(:i, nil, class: "fa fa-twitter m-l-21"), '#' %>

          <button class="btn-show-sidebar m-l-33 trans-0-4"></button>
        </div>
      </div>
    </div>
  </div>
</header>
